---
layout: default
---

    <!-- Full Width Image Header -->

<div class="container-fluid demo">
   <div class="content">
      <div id="large-header" class="large-header">

         <canvas id="demo-canvas"  style="background: rgba(14,31,75,0.45);"></canvas>
         <a href="#about">
             <h1 class="main-title">AdSidera<span class="thin">Web</span>
	       <br><br><br>
	     <span class="thin2">Ruby on Rails Developer</span></h1>
         </a>




      </div>
   </div>
</div>
    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider" id="about"><br>

        <!-- First Featurette -->
        <div class="featurette">
            <!-- Introduction -->
            <img class="featurette-image img-circle img-responsive pull-right" src="img/anna2.jpg">
            <h1 class="featurette-heading" >Rubyist
                <span class="text-muted">and humanist</span>
            </h1>
            <br>
	    <p >Adsidera, aka Anna Costalonga, Berlin and Leipzig, Germany</p>
	    <p>I am a Ruby on Rails developer, with experience maintaining and enhancing with Ruby/Ruby on Rails complex and articulated modern apps, that rely on advanced tools like Docker, Kubernetes, Prophet and Sidekiq</p>
	    <p>I have a daily familiarity with SQL and MongoDB databases</p>
	    <p>Git and RSpec are my bread and butter, a test-first, TDD approach is not unusual for me<br>	    
	    I am a lady developer, so I do not like mice <i class="fa fa-smile-o" aria-hidden="true"></i> I prefer using VIM & TMUX over fancy IDEs</p>
	    <p>HTML, HAML, CSS, SASS, Bootstrap, Javascript: my fundamentals</p>
	    <p>Author and translator from German, English and French into Italian, I enjoy naturally technical writing and reorganizing pre-existent but unconsistent code documentations <br>
	    Agile worker in an agile team, with flat hierarchies, I like to proactively contribute with my ideas and different experiences from different sectors in different countries</p>
	    <p>I am a gentle feminist, proud member of <a href="http://rubymonstas.org/"><em>Rubymonstas Berlin</em></a> and volunteer developer to the <a href="https://diversitytickets.org/"><em>Diversity Ticket action</em></a>, supported by Travis CI<br></p>
	    <p>I like to be goodhumoured, polite, generous and positive with colleagues, resilient and perfectionist</p>
	    
      </div>

      <hr class="featurette-divider" id="portfolio"><br>
      <!-- <div class="featurette"> --!>
            <!-- 1st Row of Projects -->
    {% assign sorted_photos = site.photos | sort: "photo_id" | reverse %}
	<div class=" gal-container photos">
	 {% for photo in sorted_photos  %}
          <!-- First Image in Gallery -->
          <div class="col-md-4 col-sm-6 col-xs-12 gal-item picture" >
            <div class="box">
              <!-- Thumbnail Image -->
              <a class="pic" href="#" data-toggle="modal" data-target="#{{photo.photo_id}}" data-content="{{photo.description}}">
                <img src="{{photo.photo_path}}">
              </a>
              <!--- Modal -->
              <div class="modal fade" id="{{photo.photo_id}}" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">X</span>
                    </button>
                    <div class="modal-body">
                      <a href="{{photo.link}}"><img src="{{photo.photo_path}}"></a>
                      <hr>
                      <div class="container">
                        <div class="box-modal">
                          <h3>{{ photo.title }}</h3>
                          <div class="row">
                            <div class="col-sm-6">
                              <p>{{photo.paragraph}}</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                              <h3>My Tasks</h3>
                              <p>{{ photo.task }}</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                              <h3>Languages</h3>
                              <p>{{ photo.languages }}</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                              <h3>Technologies</h3>
                              <p>{{ photo.technologies }}</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                              <h3>Databases</h3>
                              <p>{{ photo.databases }}</p>
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-sm-4">
                              <a href="{{ photo.link }}" target="_blank" >
                                <button class="btn btn-lg btn-primary" >
                                  See it live
                                </button>
                              </a>
                            </div>
                          </div>
                          <br>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
	  {% endfor %}
          <div class="arrow arrowportfolio">
	    <a href="#services">
	      <i class="fa fa-angle-double-down fa-3x" aria-hidden="true"></i>
	    </a>
	  </div>
          <br>
        </div> <!--- End Second Featurette -->

        <hr class="featurette-divider" id="services"><br>
        <!-- Third Featurette -->
          {% include section.html %}
        <hr class="featurette-divider" id="contact"><br>
          {% include contact.html %}

        <!-- Second Featurette -->
        <hr class="featurette-divider">
    </div>

