<div class="jumbotron" style="background-color:#fff;">  
  <div class="container">
      <h2 style="padding-left:2%;">Am I a good fit for your company? Are you a good company for me?</h2>
      <div class="container" style="padding-left:30%; padding-top: 5%;">
      <a href="#" data-toggle="modal" data-target="#survey">
	<button class="btn btn-lg btn-warning" >Let's find out!</button>
      </a>
      </div>
      <div class="modal fade" id="survey" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
	    <button type="button" class="btn-warning" data-dismiss="modal" aria-label="Close">
	       <i class="fa fa-large fa-close"></i>
	    </button>
	    <div class="modal-body">
		  <iframe src="https://docs.google.com/forms/d/1W9pdNdvzedWkvwSYKH1MtMJchvdTOKy-m56E0XgoTZY/viewform?embedded=true#start=embed" width="685" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
