<div class="gal-container">
  <a href="#" data-toggle="modal" data-target="#survey">
    <button class="btn btn-large btn-warning">Am I a good fit for your company?</button>
  </a>
  <div class="modal fade" id="survey" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="btn-warning" data-dismiss="modal" aria-label="Close">
           <i class="fa fa-large fa-close"></i>
        </button>
        <div class="modal-body">
              <iframe src="https://docs.google.com/forms/d/1W9pdNdvzedWkvwSYKH1MtMJchvdTOKy-m56E0XgoTZY/viewform?embedded=true#start=embed" width="685" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>
      </div>
    </div>
  </div>
</div>
