<div class="featurette">
  <!-- Other Services -->
  <img class="featurette-image img-responsive pull-left" src="img/codingdavinci.png">
  <h1 class="featurette-heading">Technological <span class="text-muted">and cultural</span></h1>
  <p class="lead">Being a teamplayer, someone who can spot issues and solve them, someone who can have and share ideas, someone who is enthusiastic about continuous learning, and someone who dares also take challenging tasks...and someone who is also pleasant and light to collaborate with.<br> That's me <i class="fa fa-smile-o" aria-hidden="true"></i></p>
<p class="lead">I am available for collaborating to your projects, be they small or more audacious, </p>
</div>

