<div class="featurette">
  <!-- Other Services -->
  <img class="featurette-image img-responsive pull-left" src="img/codingdavinci.png">
  <h1 class="featurette-heading">Technological <span class="text-muted">and cultural</span></h1>
  <p class="lead editable">One of the few developers who can join technological knowledge, problem-solving attitude and passion for future and futuristic solutions, with a profound knowledge of the art and cultural sector, as experienced literary translator and classical music journalist. I am a relentless and passionate communicator, with entrepreneurial attitude and a keen interest in spreading digital innovation into the cultural sector.
<p class="lead editable">I have a strong inclination in taking part and promoting the more challenging and audacious projects - if you have one, I will be happy to help :)  </p>
</div>

